$headerBackground: url(../img/m-h-day.jpg);
$fonts: 'Source Sans Pro', Hind, Fresca, sans-serif;
$mainBackground: #ffffff;
$whitecolor:#ffffff;
$headerFontsColor: #eeeeee;
$headercolor:#111111;
$headingColor:#14a0c7;
$fromcolor:#699900;
$tocolor:#2c5adb;
$footerbackground:#21232e;
$footerbackcolor:#ffffff;
$ready:#111111;
$grey:#d1d1d1;