$headerBackground: url(../img/m-h-night.jpg);
$fonts: 'Source Sans Pro', Hind, Fresca, sans-serif;
$mainBackground:#21232e;
$whitecolor:#ffffff;
$headerFontsColor: #eeeeee;
$headercolor:#ffffff;
$headingColor:#ff4e33;
$fromcolor:#da9d0a;
$tocolor:#932e51;
$footerbackground:#3b3f50;
$footerbackcolor:#ffffff;
$ready:#ffffff;
$grey:#d1d1d1;